<launch>
	<master auto="start"/>
	
	<!-- Run the map server (you can run it here or in another terminal) -->
	<!-- <node name="map_server" pkg="map_server" type="map_server" args="path_to_map.yaml"/> -->

	<!--- Run AMCL -->
	<!---<include file="$(find p2os_launch)/launch/amcl.launch" /> -->

	<!--- Run gmapping -->
	<include file="$(find radbotlive)/launch/gmapping.launch" /> 
	
	<node machine = "Radbot" pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find radbotlive)/launch/costmap_common_params_p3dx.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find radbotlive)/launch/costmap_common_params_p3dx.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find radbotlive)/launch/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find radbotlive)/launch/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find radbotlive)/launch/base_local_planner_params_DWA.yaml" command="load" />
		<param name="base_global_planner" type="string" value="NavfnROS" />
		<param name="base_local_planner" type="string" value="dwa_local_planner/DWAPlannerROS" />
		<param name="conservative_reset_dist" type="double" value="3.0" />
		<param name="controller_frequency" type="double" value="15.0" />
	</node>
</launch>
