<launch>
  <arg name="sim" default="false"/>
  <arg name="robot" value="jackal" unless="$(arg sim)"/>
  <arg name="robot" value="sim" if="$(arg sim)"/>
  <env name="ROBOT" value="$(arg robot)"/>
  <include file="$(find radbotlive)/launch/$(arg robot).machine"/>
  <include file="$(find jackal_gazebo)/launch/jackal_world.launch" if="$(arg sim)">
    <arg name="front_laser" value="true"/>
  </include>
  <include file="$(find radbot_viz)/launch/view_radbot.launch"/>
  <node machine="c1" pkg="radbot_control" type="radbot_control_node" name="radbot_control_node" output="screen">
    <param name="num_particles" type="int" value="5000"/>
    <param name="num_samples" type="int" value="10"/>
  </node>
  <node machine="c1" pkg="radbot_processor" type="radbot_processor_node" name="radbot_processor_node" output="screen">
    <param name="global_frame" type="string" value="map"/>
    <param name="topic" type="string" value="/counts"/>
  </node> 
  <node pkg="radbot_src_sim" type="radbot_src_sim_node"
    name="radbot_src_sim_node" output="screen">

    <param name="global_frame" value="map"/>

    <param name="x1" value="-2"/>
    <param name="y1" value="2"/>
    <param name="rad_strength1" value="50000"/>

    <param name="x2" value="0"/>
    <param name="y2" value="0"/>
    <param name="rad_strength2" value="0"/>

    <param name="x3" value="0"/>
    <param name="y3" value="0"/>
    <param name="rad_strength3" value="0"/>

    <param name="x4" value="0"/>
    <param name="y4" value="0"/>
    <param name="rad_strength4" value="0"/>

  </node>
</launch>

