<launch>
	<node machine="Radbot" pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms_node">
		<param name="port" type="string" value="/dev/serial/by-path/pci-0000:00:1d.0-usb-0:1.1.1:1.0-port0" />
		<param name="baud" type="int" value="38400" />
		<param name="connect_delay" type="double" value="35.0" />
	</node>
</launch>
